<ion-view view-title="Confirmação" name="confirmacao-view">
    <ion-content >
        <div class="item item-divider">
            Dados do Agendamento
        </div>

        <div class="item item-text-wrap">
            <h2>Salao</h2>
            <p>{{dados.salao}}</p>
            <h2>Serviço</h2>
            <p>{{dados.servico}}</p>
            <h2>Profissional</h2>
            <p>{{dados.profissional}}</p>
            <h2>Data</h2>
            <p>{{dados.dataFormatada}}</p>
        </div>

        <button class="button button-full button-royal" ng-click="confirmar(dados)">Confirmar</button>
    </ion-content>
</ion-view>
