<ion-view view-title="Meus Dados" name="meus-dados-view">
    <ion-content padding="true">
        <form name="atualizarForm" novalidate="" >
            <div class="list">
                <!-- NOME -->
                <label class="item item-input" ng-class="{'has-error': (atualizarForm.nome.$invalid && atualizarForm.nome.$dirty)}">
                    <input type="text" placeholder="Nome" name="nome" ng-model="user.nome" ng-required="true" ng-minlength="5" ng-maxlength="255">
                </label>
                <div ng-messages="atualizarForm.nome.$error" ng-show="atualizarForm.nome.$dirty">
                    <div ng-message="required" class="form-error">
                        Por favor, preencher o campo nome
                    </div>
                    <div ng-message="minlength" class="form-error">
                        O campo nome deve ter no mínimo 5 caracteres
                    </div>
                    <div ng-message="maxlength" class="form-error">
                        O campo nome deve ter no máximo 255 caracteres
                    </div>
                </div>

                <!-- TELEFONE -->
                <label class="item item-input" ng-class="{'has-error': (atualizarForm.telefone.$invalid && atualizarForm.telefone.$dirty)}">
                    <input type="tel" placeholder="Telefone" name="telefone" ng-model="user.telefone" ng-required="true" mask="(99) 9?9999-9999" mask-restrict="reject" mask-clean="true">
                </label>
                <div ng-messages="atualizarForm.telefone.$error" ng-show="atualizarForm.telefone.$dirty">
                    <div ng-message="required" class="form-error">
                        Por favor, preencher o campo telefone
                    </div>
                    <div ng-message="mask" class="form-error">
                        Favor informar um telefone válido
                    </div>
                </div>

                <!-- ESTADO -->
                <label class="item item-input item-select" ng-class="{'has-error': (atualizarForm.estado.$invalid && atualizarForm.estado.$dirty)}">
                    <div class="input-label">
                        Estado
                    </div>
                    <select class="form-control" name="estado" id="input-estado" ng-change="changeEstado(user.endereco.estado.id)" ng-model="user.endereco.estado.id" ng-options="estado.id as estado.nome for estado in estados" ng-required="true"  >
                        <option value="">Selecione</option>
                    </select>
                </label>
                <div ng-messages="atualizarForm.estado.$error" ng-show="atualizarForm.estado.$dirty">
                    <div ng-message="required" class="form-error">
                        Por favor, selecione um estado
                    </div>
                </div>

                <!-- CIDADE -->
                <label class="item item-input item-select" ng-class="{'has-error': (atualizarForm.cidade.$invalid && atualizarForm.cidade.$dirty)}">
                    <div class="input-label">
                        Cidade
                    </div>
                    <select class="form-control" name="cidade" id="input-cidade" ng-model="user.endereco.cidade.id" ng-options="cidade.id as cidade.nome for cidade in cidades" ng-required="true"  >
                        <option value="">Selecione</option>
                    </select>
                </label>
                <div ng-messages="atualizarForm.cidade.$error" ng-show="atualizarForm.cidade.$dirty">
                    <div ng-message="required" class="form-error">
                        Por favor, selecione uma Cidade
                    </div>
                </div>

                <!-- Endereço -->
                <label class="item item-input">
                    <input type="text" placeholder="Endereço" name="endereco" ng-model="user.endereco.rua">
                </label>

                <!-- Numero -->
                <label class="item item-input">
                    <input type="number" placeholder="Número" name="numero" ng-model="user.endereco.numero">
                </label>

            </div>
            <div class="spacer spacer-10"></div>
            <button class="button button-block button-calm" ng-click="atualizar(user)" ng-disabled="atualizarForm.$invalid" >Atualizar</button>
            <a ng-click="logout()" id="login-button2" class="button button-positive  button-block button-clear" >Sair</a>
        </form>
    </ion-content>
</ion-view>