<ion-tabs class="tabs-icon-top tabs-background-royal tabs-color-light">

    <!-- Favoritos -->
    <ion-tab title="Favoritos" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" ng-click="goto('tab.favoritos')" id="tab-favoritos">
        <ion-nav-view name="tab-favoritos"></ion-nav-view>
    </ion-tab>

    <!-- Busca -->
    <ion-tab title="Busca" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" ng-click="goto('tab.busca')" id="tab-busca">
        <ion-nav-view name="tab-busca"></ion-nav-view>
    </ion-tab>

    <!-- Reservas -->
    <ion-tab title="Reservas" icon-off="ion-ios-time-outline" icon-on="ion-ios-time" ng-click="goto('tab.reservas')" id="tab-reservas">
        <ion-nav-view name="tab-reservas"></ion-nav-view>
    </ion-tab>

    <!-- Config -->
    <ion-tab title="Meus Dados" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ng-click="goto('tab.meus-dados')" id="tab-dados">
        <ion-nav-view name="tab-meus-dados"></ion-nav-view>
    </ion-tab>

</ion-tabs>